{{#with data}}

<div class="card">
   <div class="col-lg-4">
<img class=" button card_button"  style="background-image: url{{photo}}" ></img>
      <h2 class="card_title">{{heading}}</h2>
      <p class="card_text">{{info}}</p> 
      <a class=" card_link" href="{{linkUrl}}">{{linkText}}</a>
   </div>
</div>

{{/with}}